.search-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.search-filter input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  padding-left: 10px;
}


li {
  list-style: none;
}
